.widget {
  margin: $gutter-size 0 0 0;
  background-color: $white;
  border-color: $black;
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-left-width: 0;
  border-right-width: 0;
}
.widget__head {
  border-bottom: 1px solid #000;
  padding: 4px 10px;
}
.widget__title {
  margin: 0;
  font-family: $sans-title-font;
  color: $text-color;
  font-size: 26px;
}
.widget__body {
  margin: 0;
  padding: 0;
}

.widget-post {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-post__list {
  border-bottom: 1px dashed #8c8c8c;
  a {
    display: block;
    padding: 15px;
    text-decoration: none;
    &:hover {
      background-color: $hover-color;
    }
  }
}
.widget-post--ranking {
  .widget-post__thumb {
    position: relative;
    img {
      border: 1px solid $black;
      padding: 1px;
    }
    &:after {
      $rank-size: 24px;
      content: '1';
      position: absolute;
      background: $black;
      width: $rank-size;
      height: $rank-size;
      line-height: $rank-size;
      color: $white;
      text-align: center;
      left: 0;
      top: 0;
      font-size: 12px;
      font-family: $num-font;
      font-weight: 900;
    }
  }
  .widget-post__list {
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(1){ .widget-post__thumb:after {content: '1';}}
    &:nth-child(2){ .widget-post__thumb:after {content: '2';}}
    &:nth-child(3){ .widget-post__thumb:after {content: '3';}}
    &:nth-child(4){ .widget-post__thumb:after {content: '4';}}
    &:nth-child(5){ .widget-post__thumb:after {content: '5';}}
  }
}


$post-thumb: 80px;
.widget-post__thumb {
  width: $post-thumb;
  line-height: 0;
  float: left;
  img {
    width: $post-thumb;
    height: auto;
  }
}
.widget-post__body {
  margin-left: $post-thumb + 12;
}
.widget-post__title {
  font-size: 14px;
  color: $black;
  margin: 0;
  font-weight: normal;
  line-height: 1.4;
  font-family: $sans-bold-font;
  letter-spacing: 0.05em;
}
.widget-post__more {
  text-align: right;
  a {
    display: block;
    padding: 6px 10px;
    color: $black;
    text-decoration: none;
    &:hover {
      background-color: $hover-color;
    }
  }
  .fa {
    margin-left: 5px;
  }
}

/*
Search
*/
.search-bar {
  margin-top: $gutter-size;
}
$searchHeight: 46px;
.search-bar__input {
  margin-right: 60px;
  input {
    height: $searchHeight;
  }
}
.search-bar__btn {
  width: 60px;
  float: right;
  button {
    height: $searchHeight;
    width: 100%;
    border-radius: 0;
  }
}

/*
Tag
*/
.tagcloud {
  padding: 15px 10px;
  letter-spacing: -.4em;
  a {
    display: inline-block;
    vertical-align: text-bottom;
    letter-spacing: .1em;
    margin: 3px 5px;
    padding: 4px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: $text-color;
    font-weight: normal;
    font-family: $sans-bold-font;
    background-color: $hover-color;
    &:hover {
      text-decoration: none;
      background-color: $white;
    }
  }
}

/*
Ad
*/
.g-ad {
  margin-top: $gutter-size;
  line-height: 0;
  &:first-child {
    margin-top: 0;
  }
}

.people-ranking {
  margin: 0;
  padding: 0;
  list-style: none;
  .thumb {
    border: none;
    padding: 0;
    width: 60px;
    font-size: 0;
    background-color: none;
    border-radius: 30px;
    img {
      width: 60px;
      height: auto;
      border-radius: 30px;
    }
  }
  a {
    display: table;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    font-family: $sans-title-font;
    letter-spacing: 0.05em;
    color: #333;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      background-color: $hover-color;
    }
  }
  li {
    border-bottom: 1px dashed #8c8c8c;
    &:last-child {
      border-bottom: none;
    }
  }
  .thumb, .name {
    display: table-cell;
    vertical-align: middle;
  }
  .name {
    padding-left: 10px;
  }
}

.side-tab {
  border-bottom: 1px solid #000;
  list-style: none;
  margin: 0;
  padding: 0;
  letter-spacing: -.4em;
  li {
    display: inline-block;
    letter-spacing: normal;
    width: 33.33%;
    text-align: center;
    border-right: 1px solid #000;
    &:last-child {
      border-right: none;
    }
    &.current {
      a {
        background-color: #414141;
        color: $base-color;
      }
    }
  }
  a {
    color: #333;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.pickup-tag {
  list-style: none;
  margin: 0;
  padding: 15px;
  li {
    margin: 10px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    font-size: 17px;
    padding: 10px 16px 10px 40px;
    height: auto;
    line-height: 1.5;
    text-align: left;
    position: relative;
  }
  .fa {
    margin-right: 10px;
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -9px
  }
}

@media screen and (max-width: $break-point-full) {
  .widget {
    margin-bottom: $gutter-res-size;
  }
}
@media screen and (max-width: $break-point-large) {
  .g-ad-wrap {
    text-align: center;
    letter-spacing: -.4em;
    line-height: 0;
  }
  .g-ad {
    display: inline-block;
    letter-spacing: normal;
    margin: 20px 10px;
  }
}
@media screen and (max-width: $break-point-middle) {
  .widget {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .widget__head {
    background-color: $black;
  }
  .widget__title {
    color: $white;
  }
  .search-bar {
    padding: 15px 15px 0 15px;
    background-color: $white;
    margin-top: 0;
    border-top: 1px solid $black;
  }
  .g-ad {
    display: block;
  }
}
@media screen and (max-width: $break-point-small) {
  .g-ad {
    iframe {
      height: 250px;
    }
  }
}
